@model SportsTransfer3.ViewModels.RandomTransferViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    
    Comment multiple lines
*@


@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Transfer.Name</h2>

@if (Model.Customers.Count == 0)
{
    <text>No one has target on this transfer before</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}